body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}


.box {
  text-align: center;
  border: 3px solid gray;
  padding: 10px 10px;
  margin-top: 5px;
  margin-left: 5px;
  linear-gradient(to bottom right, #a1e048, #6a942f);
}

.box a {
  color: white;
  text-decoration: none;
}

.box:hover {
  background-color: #8AF;
}

.box:active {
  background-color: #46F;
}
